{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}
<div class="main-container">
            
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h1>CommonsShare Apps Library</h1>
        <p>
          CommonsShare apps allow you to visualize, analyze, and work with resources
          (data and models) in CommonsShare. Apps are hosted on separate web servers
          from the CommonsShare website (www.commonsshare.org) and access CommonsShare
          resources using web services via the REST applications programmers
          interface (API). Anyone can write an app an then create a "Web App" resource
          that holds the configuration information for launching the App from CommonsShare.
          This page lists NIH Data Commons approved web apps that are supported as part of CommonsShare.</p>
      </div>	
    </div>
  </div>
  <hr/>		
  <div class="container apps-container">
    <div class="row">
        <div class="webapp col-lg-3 col-md-4 col-sm-12">
          <div class="webapp-listing">
              {% for app in apps_list %}
                  <a class="webapp-link" href="{{ app.url }}" target="_blank" title="{{ app.verbose_name }}">
                        <img src="{% static app.logo %}" alt="" width="205" height="205">
                  <h3>
                    {{ app.verbose_name }}
                  </h3>
                  </a>
              {% endfor %}
          </div>
        </div>
    </div>
  </div>
</div>

{% endblock %}
