.float-left {
    float: left;
}

.custom-table {
	font-size: 14px;
	border: 1px solid #ddd !important;
	margin-bottom: 10px !important;
    width: 100% !important;
}

.text-center {
	text-align: center;
}
