{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <h1 class="text-center">Information on PIVOT-deployed running appliances</h1>
        </div>
    </div>
</div>

<br/>

<div class="col-sm-12 col-xs-12">
    <div class="tab-content">
        <div id="list-view" class="tab-pane fade in active">
            <table class="table hs-table">
                <thead>
                    <tr>
                        <th>Username</th>
                        <th>User Full Name</th>
                        <th>User Email</th>
                        <th>Appliance ID</th>
                        <th>Running since</th>
                        <th>Resources consumed</th>
                    </tr>
                </thead>

                <tbody>
                {% for usage in usage_list %}
                    <tr>
                        <td>
                            {{ usage.username }}
                        </td>
                        <td>
                            {{ usage.user_fullname }}
                        </td>
                        <td>
                            {{ usage.user_email }}
                        </td>
                        <td>
                            {{ usage.appliance_id }}
                        </td>
                        <td>
                            {{ usage.start_timestamp }}
                        </td>
                        <td>
                            <strong>Number of instances: </strong>{{ usage.insts }}
                            <br/>
                            <strong>Number of CPUs: </strong>{{ usage.cpus }}
                            <br/>
                            <strong>Memory (MB): </strong>{{ usage.memory }}
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}
